.slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.slideContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .slider {
    width: 100%;
  }
}
